# Log in to Azure from PowerShell

$ProfileExists = Test-Path $profile
If ($ProfileExists -eq $False) {
New-Item -path $profile -type file -force
}

$AzureUser = "AZURE_USERNAME"
$AzurePass = "AZURE_PASSWORD"
$securePassword = ConvertTo-SecureString $AzurePass -AsPlainText -Force
$Credential = New-Object System.Management.Automation.PSCredential ($AzureUser, $securePassword)

if (Get-Module -ListAvailable -Name AzureRM) {
    Write-Host "AzureRM PowerShell module already installed"
} else {
    Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted
    Install-Module -Name "AzureRM" -Scope CurrentUser
    Import-Module -Name "AzureRM"
}

# If using MFA authentication to Azure, comment out the next line
Login-AzureRmAccount -Credential $Credential

# If using MFA authentication to Azure, uncomment the next line
#Login-AzureRmAccount
